<%= form_for(police) do |f| %>
  <% if police.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(police.errors.count, "error") %> prohibited this police from being saved:</h2>

      <ul>
      <% police.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
