<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome Back, </strong>
  <%= @police.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @police.username %>
</p>

<p>
  <strong>Password: *****</strong>
  <%= @police.password %>
</p>



<%= link_to 'Click here to access database', if session[:police_id] == nil
                                              admins_path
                                            else
                                              police_index_url
                                            end %> |
<%= link_to 'Logout', logout_path %>
